@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 0;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 100, 0;
  }
}

html {
  font-family: sans-serif, Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;
}

#NoteEditor-ContentEditable a {
  color: revert;
  text-decoration: revert;
}

#NoteEditor-ContentEditable h1
, #NoteEditor-ContentEditable h2
, #NoteEditor-ContentEditable h3
, #NoteEditor-ContentEditable h4
, #NoteEditor-ContentEditable h5
, #NoteEditor-ContentEditable h6
{
  font-size: revert;
  font-weight: revert;
}